POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=
REDIS_URL=
NODE_ENV=
ENCRYPTION_KEY_V1=""
WEBHOOK_TIMEOUT_MS=
MOCK_PORT=4000
MOCK_TIMEOUT_MS=10000
MOCK_SECRETS_PATH=./mock/secrets.json
API_KEY_PREFIX=""
MAX_API_KEYS=
API_KEY=
CONSUMER_IDS=
TARGET_URL=
CONNECTIONS=10
DURATION=30
PIPELINING=1
EVENT_TYPE=load.test
WORKER_CONCURRENCY=5
REDIS_CONNECTION_TIMEOUT=10000
COMMAND_TIMEOUT=1000
PRODUCER_MAX_RETRIES_PER_REQUEST=3