NODE_ENV=
PORT=3000

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=

REDIS_URL=
REDIS_CONNECTION_TIMEOUT=10000
COMMAND_TIMEOUT=1000
PRODUCER_MAX_RETRIES_PER_REQUEST=1

ENCRYPTION_KEY_V1=""

API_KEY_PREFIX=""
MAX_API_KEYS=

WEBHOOK_TIMEOUT_MS=
WEBHOOK_MAX_FAILURES=5
WEBHOOK_RATE_LIMIT=10
WEBHOOK_RATE_LIMIT_WINDOW_MS=1000
WEBHOOK_RATE_LIMIT_DELAY_MS=1000
MAX_PAYLOAD_SIZE_BYTES=1048576

RETRY_MAX_ATTEMPTS=5
RETRY_BASE_DELAY=1000
RETRY_MULTIPLIER=2
RETRY_MAX_DELAY=3600000

WORKER_LOCK_DURATION=30000
WORKER_STALLED_INTERVAL=30000
WORKER_MAX_STALLED_COUNT=1
REMOVE_ON_COMPLETE_COUNT=1000
REMOVE_ON_FAIL_COUNT=1000

MOCK_PORT=4000
MOCK_TIMEOUT_MS=10000
MOCK_SECRETS_PATH=./mock/secrets.json
